*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background-color: #f4e4ba;
    /* border: 2px solid black; */
}

.container {
    border-radius: 10px;
    height: 400px;
    border: 1px solid lightgray;
    width: 350px;
    background-color: white;
    padding: 2rem;
}

.input_amount{
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.75rem;
    outline: none;
    border: 1px solid lightgray;
    width: 80%;
}


select, textarea{
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.submit_button button{
    border-radius: 0.75rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 60px;
    height: 40px;
    border-radius: 250px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.from img, .to img{
    max-width: 1.75rem;
}

.from{
    padding-left: 6px;
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.to{
    padding-left: 6px;
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightgray;
}


i{
    margin-top: 7%;
}

.from_container p, .to_container p{
    margin-left: 3px;
}